doctype html
head
  title 404
  meta(charset='UTF-8')
  link#light(href='/main.css', rel='stylesheet', type='text/css')
  script(src='/js/main.js', async='')
nav
  p
    a(href='/') Main
  p
    a(href='/testimonies') Testimonials
  p
    a(href='/contact') Contact Us
  p
    a(href='/admin/contactlog') Contact log
h1 File Not Found