doctype html
head
  title The Pirate's Booty Hole
  meta(charset='UTF-8')
  link#light(href='/css/main.css', rel='stylesheet', type='text/css')
  script(src='/js/main.js', async='')
include navbar.pug
h1 The Pirate's Booty Hole
h2 Serving sea dog&apos;s for over 50 years
// adding the functionality for the sale
#sale_banner
  p#sale_message
img(src='/resources/images/main', alt='ship-logo')
.main
  p
    | Are you a pirate who just plundered a merchant ship, 
    em fat
    |  with loot? Need to some coin to pay yer crew?
  p
    | Come on down to the The Booty Hole, we&apos;ll buy yer plunder and give you gold coin!
  p
    strong For a limited time:
    |  New Captains get 10% off their first repairs and a barrel of salted pork! Good for a crew of up to 20 scallywags!
  p Here are only some of the services we provide:
  ol
    li Doctor services
    li Sea funerals (Sorry for your loss)
    li We buy stolen goods
    li We sell weapons
