nav
  p
    a(href='/') Main
  p
    a(href='/testimonies') Testimonials
  p
    a(href='/contact') Contact Us
  p
    a(href='/admin/contactlog') Contact log
  p
    button#dark-mode(onclick='toggle_style()') Dark Mode

//add sale banner
div(hidden="hidden")#sale-banner