doctype html 
html 
    head
        title Testimonials 
        meta(charset="utf-8")
        link#light(href="/css/main.css",rel="stylesheet",type="text/css")
        script(src="/js/main.js",async="")
    body
        include navbar.pug
        h1 Testimonials
        iframe(src="https://www.youtube.com/embed/01axV6bE690?si=ALILRrSIYkCe1SzR", frameborder="0", width="560",height="315",title="YouTube video player",allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen='') 
        .page
            .col1
                .review 
                    p.review-body "The staff had no issues unloading the plunderrrrr from my ship while me crew got drunk at the inn next door."
                    p.review-name -Black Beard
                .review 
                    p.review-body "Sold me crew some of the best rum we've ever had."
                    p.review-name -Henry Morgan
                .review 
                    p.review-body "I sold several plunders and have yet to reieve a clipped coin or gold covered silver. Finally, a reliable buyer"
                    p.review-name -Anne Bonny
                .review 
                    p.review-body "Rum so potent I couldnt even feel the ship doctor cut off me leg"
                    p.review-name -Peter "Peg" Ruperts
                .review 
                    p.review-body "All the other captains were telling me to come here for ship repairs.
                        |  The staff replaced my mast and sold me new sails for a discount. I fully understand the hype!"
                    p.review-name -Calico Jack
                .review 
                    p.review-body "Sold me a compass that only points North"
                    p.review-name -Captain Jack Sparrow
                
